body {
  background-color: #D0DDD7;
  color: #2F2504;
  border: 0;
  top: 70px;
  bottom: 70px;
}

nav {
  background-color: #2F2504;
  height: 70px;
  width: 100%;
  display: table;
  table-layout: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 12px -2px black;
  justify-content: space-between;
}

nav a {
  display: table-cell;
  text-align: center;
  color: #D0DDD7;
  vertical-align: middle;
  font-size: 2vw;
  text-decoration: none
}

section {
  background-color: #594E36;
  color: #D0DDD7;
  border-top: 1px solid #D0DDD7;
}


footer {
  background-color: #2F2504;
  color: #D0DDD7;
  height: 70px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 12px -2px black;
}






